<launch>
    <arg name="bagout" default="/home/teddy/bags/log.bag" />
    <arg name="log" default="false" />

    <!-- Icarus Bringup-->
    <include file="$(find icarus)/launch/icarus_bringup.launch"/>

    <!-- Skeleton -->
    <include file="$(find skeleton)/launch/show_skeleton_node.launch" />

    <!-- Rula -->
    <include file="$(find icarus)/launch/rula.launch" />

    <!-- Arduino -->
    <include file="$(find icarus)/launch/arduino.launch" />

    <!-- Controller -->
    <include file="$(find icarus)/launch/controller.launch" />

    <!--Logging-->
    <node if="$(arg log)" pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg bagout)"/>
</launch>
