<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" doc="True if there is no robot, launches a joint_state_publisher to simulate one"/>
    <arg name="gui" default="true" doc="True if rviz should open to view the robot" />
    <arg name="rvizconfig" default="$(find icarus_description)/rviz/frontend.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro '$(find icarus_description)/urdf/icarus.urdf.xacro'" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

    <group if="$(arg sim)">
        <param name="use_gui" value="true" />
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    </group>

    <node if="$(arg gui)" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" name="rviz"/>
</launch>